.mainContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elementContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.boxFumetti {
  margin: 15px;
  width: 130px;
  height: 130px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.button {
  padding: 5px 40px;
  margin: 15px 0;
  font-size: 0.7rem;
  color: white;
  background-color: #0582f9;
}
