body {
  /* background-color: black; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 100;
}
/* NAVBAR */
nav {
  background-color: white;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a.active {
  color: #0e6efd;
}

/* MAIN */

main {
  background-color: black;
}

/* TOOLBAR */
#banner {
  height: 150px;
}

#banner img {
  width: 50px;
}

#banner span {
  font-size: small;
  color: white;
}

.toolbar-img {
  width: 50px;
}

/* FOOTER */

footer {
  background-image: url(./img/footer-bg.jpg);
}
