body {
  /* background-color: black; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 100;
}
/* NAVBAR */
nav {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  font-size: 0.7rem;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a.active {
  color: #0e6efd;
}

nav img {
  width: 50px;
}

/* MAIN */

main {
  background-color: black;
}

/* TOOLBAR */

/* FOOTER */

.footer-top {
  background-image: url(./img/footer-bg.jpg);
  color: white;
  display: flex;
}

.footer-layout {
  padding-top: 2rem;

  display: flex;
  flex-direction: row;
  flex-basis: calc(100% / 4);
}

.footer-col {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: start;
  margin-right: 3rem;
  color: white;
  font-size: 1rem;
}

.footerLinks {
  text-decoration: none;
  list-style-type: none;
  color: grey;
}

footer img {
  display: inline-block;
}

.crop {
  overflow: hidden; /* this is important */
}

/* input values to crop the image: top, right, bottom, left */
.crop img {
  margin: -100px 0px -100px 0px;
}

.footer-bottom {
  background-color: #303030;
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer button {
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
  border: 1px solid #0582f9;
  background-color: #303030;
  display: inline-block;
}

.test {
  display: inline-block;
}

.margin-right {
  margin-right: 1rem;
}
